@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  :root {
    --dark-color: hsl(0, 0%, 10%);
    --light-color: hsl(0, 0%, 100%);

    color: var(--dark-color);
    background: var(--light-color);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: var(--light-color);
      background: var(--dark-color);
    }
  }
}
